body{
    font-family: 'Open Sans', sans-serif; 
}

.banner-container{
    background: #CACACA;
    /* background-image: url(img/bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

.banner-colum{
    background: #918080fa;
}

.navbar-container{
    top: 0;
    position: sticky;
    background: #262b37;
    z-index: 2;
}


.about-container{
    background: #00bdbd;
}

.text-bold{
    font-weight: 700;
}

.text-size{
    font-size: 24px;
}

.bg-redtype{
    background: #d92d2d;
}

.bg-redtype:hover{
    color: black!important;
}

.redtype-color{
    color:#e74c3c
}

.gallbg{
    background-color: #ecf0f1;
}

.circle{
    background-color:#e74c3c;
    height: 150px;
    width: 150px;
    border-radius: 50%; 
}

.project-container{
    background: #2bb3dd;
}

.form-container{
    background: #474d5d;

}

span{
    font-size: 72px;
}

.inner-form{
    background-color: #585f73;
}

.btn{
    border-radius: 6%;
    margin-bottom: 2rem;

}




.footer{
    background-color: #2bb3dd;
}

